:root {
    --color-primary: #FFFDD0;
    --color-secondary: #87AE73;
    --color-hover-brightness: brightness(0.85);
    --color-active-brightness: brightness(0.6);
}

.valentines-day-app {
    background-color: var(--color-primary);
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}