.ur-the-cutest {
    font-size: 40px;
    font-family: monospace;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.happy-valentines-day {
    font-size: 40px;
    font-family: monospace;
    margin: 10px;
    display: flex;
    justify-content: center;
}