:root {
    --color-rose: #febdb9;
    --color-sky: #87d1ec;
    --color-hover-brightness: brightness(0.85);
    --color-active-brightness: brightness(0.6);
}

.question-state {
    width: 50%;
    height: 600px;
    font-family: monospace;
}

.hi-booby {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 70px;
}

.the-question {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
}

.button-wrapper {
    height: 60px;
    display: flex;
    justify-content: center;
}

.button {
    margin: 10px;
    font-size: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    border-width: 2px;
    border-color: grey;
    cursor: pointer;
}

.button:hover {
    filter: var(--color-hover-brightness)
}

.button:active {
    filter: var(--color-active-brightness)
}

